{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<base href="/">
<div class="container">
	<div class="row">

		<div class="col-md-12">
			<ul><center><h1>futures</h1></center><br><center>
			<table>
			<tr><td ><center><a href="{% static 'images/futures_2.png' %}"><img src="{% static 'images/futures_2.png' %}"  width=800 height=800></a></center></td></tr>
			<tr><td ><center><a href="{% static 'images/futures_3.png' %}"><img src="{% static 'images/futures_3.png' %}"  width=800 height=800></a></center></td></tr>
			<tr><td ><center><a href="{% static 'images/v4futures_5DayVolatilitybyGroup.png' %}"><img src="{% static 'images/v4futures_5DayVolatilitybyGroup.png' %}"  width=800 height=800></a></center></td></tr>
			<tr><td ><center><a href="{% static 'images/v4futures_5DayChangebyGroup.png' %}"><img src="{% static 'images/v4futures_5DayChangebyGroup.png' %}"  width=800 height=800></a></center></td></tr>
			<tr><td ><center><a href="{% static 'images/v4futures_5DayLong%byGroup.png' %}"><img src="{% static 'images/v4futures_5DayLong%byGroup.png' %}"  width=800 height=800></a></center></td></tr>
			<tr><td ><center><a href="{% static 'images/v4futures_3Day%AccuracybyGroup.png' %}"><img src="{% static 'images/v4futures_3Day%AccuracybyGroup.png' %}"  width=800 height=800></a></center></td></tr>
			<tr><td ><center><a href="{% static 'images/v4futures_3Day$PNLbyGroup.png' %}"><img src="{% static 'images/v4futures_3Day$PNLbyGroup.png' %}"  width=800 height=800></a></center></td></tr>
			<tr><td ><center><a href="{% static 'images/v4futures_5DayAveragesbyGroup.png' %}"><img src="{% static 'images/v4futures_5DayAveragesbyGroup.png' %}"  width=800 height=800></a></center></td></tr>
			<tr><td ><center><a href="{% static 'images/custom_currency.png' %}"><img src="{% static 'images/custom_currency.png' %}"  width=800 height=800></a></center></td></tr>
			<tr><td ><center><a href="{% static 'images/custom_energy.png' %}"><img src="{% static 'images/custom_energy.png' %}"  width=800 height=800></a></center></td></tr>
			<tr><td ><center><a href="{% static 'images/custom_grain.png' %}"><img src="{% static 'images/custom_grain.png' %}"  width=800 height=800></a></center></td></tr>
			<tr><td ><center><a href="{% static 'images/custom_index.png' %}"><img src="{% static 'images/custom_index.png' %}"  width=800 height=800></a></center></td></tr>
			<tr><td ><center><a href="{% static 'images/custom_meat.png' %}"><img src="{% static 'images/custom_meat.png' %}"  width=800 height=800></a></center></td></tr>
			<tr><td ><center><a href="{% static 'images/custom_metal.png' %}"><img src="{% static 'images/custom_metal.png' %}"  width=800 height=800></a></center></td></tr>
			<tr><td ><center><a href="{% static 'images/custom_rates.png' %}"><img src="{% static 'images/custom_rates.png' %}"  width=800 height=800></a></center></td></tr>
			<tr><td ><center><a href="{% static 'images/custom_soft.png' %}"><img src="{% static 'images/custom_soft.png' %}"  width=800 height=800></a></center></td></tr>
			</center></td></tr>
			</table>﻿</ul>
		</div>
	</div>
</div>
</section>
{% endblock %}
