{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}

{%  block head %}
    <title>Order Status</title>
{% endblock %}

{% block content %}
<base href="/">

{% for name, data in orderstatus.items %}
    {%  if name == "v4futures_ib" %}
        <h1>{{name}}</h1>
        {{ orderstatus|get_item:"v4futures_ib" | safe }}
        <img src="static/images/{{ name }}_slippage_{{ slippagedates|get_item:name }}.png" width="90%">
    {%  else %}
        <h1>{{name}}</h1>
        {{data | safe}}
        <img src="static/images/{{ name }}_c2_slippage_{{ slippagedates|get_item:name }}.png" width="90%">
    {% endif %}
{% endfor %}

{% for logfile, obj in logfiles %}
    <h1>{{ logfile }}</h1>
     <p>
       {{obj.display_text_file|linebreaks}}
     </p>
{% endfor %}

{% endblock %}