{% extends 'base.html' %}
{% load staticfiles %}
{%  block head %}
    <title>Markets</title>
{% endblock %}

{% block content %}
<base href="/">
<main class="container container--mw700">
    <div class="row">
    {% for chart in charts %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <a href="static/images/{{ chart }}">{{ chart }}</a>

            <div>
            <img src="static/images/{{ chart }}" height="600" width="450">
            </div>
            </div>
        </div>
    {% endfor %}
    </div>
</main>
{% endblock %}
